.c-card {
    @include animation(zoomIn, 1s, both, $ease-out-expo, 0s);

    width: 100%;
    position: relative;
    background-size: cover;

    &--removing {
        @include animation(zoomOut, 1s, both, $ease-out-expo, 0s);
    }

    &__image {
        background: url(http://fakeimg.pl/650x450/000000/fff/?text=img) center
            center no-repeat;
        background-size: cover;
        background-color: $color-tag;
        position: relative;
        padding-top: 70%;
        width: 100%;
        transition: $transition-default;

        @include bp(md) {
            width: auto;
            height: auto;
            .c-card--page & {
                padding-top: 55%;
            }
        }
        .no-touch &:hover,
        &.hovered {
            transform: scale3d(0.98, 0.98, 0.98);
        }
    }

    &__content {
        @include spacing(padding, top, box);
        @include spacing(padding, top, box);
        position: relative;
        .c-card--page & {
            @include bp(md) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    &__meta {
        position: absolute;
        white-space: nowrap;
        bottom: 0;
        left: 0;
        top: auto;
        right: auto;
        text-align: left;
        background: $color-tag;
        padding: 0.5rem 1.5rem;
        @include spacing(padding, left, box);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    &__title {
        margin-top: 1.5rem;
        @include bp(md) {
            margin: 0.2em 0;
        }
        .c-card--page & {
            margin-top: 0;
        }
    }

    &__description {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    &__readmore {
        @include font-size(sm);
        margin-top: 1rem;
    }
}
