.c-mobile-toggle {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    z-index: 200;
    border-radius: 50%;

    @include bp(sm) {
        display: none;
    }

    div {
        width: 20px;
        height: 3px;
        background: #000;
        margin-bottom: 3px;
        transition: all 0.2s ease-in-out;
        position: relative;
        top: 0px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

body.has-open-navigation .c-mobile-toggle {

    div {
        opacity: 0;
        background: #000;

        &:first-child {
            transform: rotate(45deg);
            opacity: 1;
            top: 6px;
        }

        &:last-child {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            opacity: 1;
            top: -6px;
        }
    }

    &:hover {
        div {
            background: #000;
        }
    }
}