/**
 * Used as a mechanism to skip to content (to skip the navigation elements).
 * Required by WCAG 2.0 Level A.
 */
 .c-skip-to-content {
    @include btn();
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;

    &:focus,
    &:active,
    &:hover {
        left: 0;
        top: 0;
        width: auto;
        height: auto;
        overflow: visible;
        @include z-index(modal);
    }
}